body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, main{
    text-align: center;
}

.result, .test, .fall, .counter{
    background-color: green;
    color: white;
    padding: 10px 20px;
    width: 15vw;
    margin: 20px auto;
    text-align: center;
}

.test{
    background-color: orange;
}

.fall{
    background-color: red;
}

.counter{
    background-color: blue;
}